@font-face {
  font-family: 'comic';
  src: url('../fonts/comic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comic';
  src: url('../fonts/comic-b.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 800px;
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
    font-family: 'comic', "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

#title {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 166px;
    background-image: url("../src/title.gif");
    background-size: 800px 166px;
}

#title:hover
{
    background-image: url("../src/title-hov.gif");;
}

#main-frame
{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    background-image: url("../src/background.gif");
    background-size: 800px 600px;
}

h1
{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-style: bold;
}

.in-text-list
{
    margin: 0 10%;
    padding: 0;
}

.link-button
{
    padding: auto;
    width: 200px;
    height: 50px;
    padding: 25px 0px;
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-image: url("../src/button.gif");
    background-size: 200px 70px;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    margin: 0 2%;
}

#input-mailing-list
{
    font-size: 35px;
    padding: 15px;
    margin: 0;
    font-family: 'comic', "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    border: none;
    width: 503px;
    height: 70px;
    background-image: url("../src/input.gif");
    background-repeat: no-repeat;
    background-size: 533px 100px;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

#input-mailing-list:focus
{
    border: none;
    outline: none;
    background-image: url("../src/input-hov.gif");
}

#submit-mailing-list
{
    border: none;
    width: 133px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-image: url("../src/apply.gif");
    background-repeat: no-repeat;
    background-size: 133px 100px;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

#submit-mailing-list:hover
{
    cursor: pointer;
    background-image: url("../src/apply-hov.gif");
}

#form-mailing-list
{
    padding: 0;
    width: 700px;
    margin: auto;
}